
<mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let list of lists">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="align-middle">{{list.name}}</span>
        </mat-panel-title>
        <mat-panel-description>
          {{list.description}}
        </mat-panel-description>
        <button mat-icon-button color="primary">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-expansion-panel-header>
      
      <mat-list role="list" >
          <app-my-item *ngFor="let item of list.items" [nev]=item.name ></app-my-item>     
      </mat-list>

    </mat-expansion-panel>
    
  </mat-accordion>

  <button 
  mat-button 
  color= "secondary">
    Add
  </button>