.spacer {
    flex: 1 1 auto;
  }

  mat-panel-title{
    align-self: center;     
  }

  mat-panel-description{
    align-self: center;  
  }

  .mat-button{
    margin: auto;
    width: 100%;
    
    padding: 10px;
  }