<mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let store of stores">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="kaksi">{{store.name}}</span>
        </mat-panel-title>
        <mat-panel-description>
          {{store.location}}
        </mat-panel-description>
        <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>star</mat-icon>
          </button>
      </mat-expansion-panel-header>
      <mat-list role="list" >
        <mat-list-item *ngFor="let item of store.items"><button mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>add</mat-icon>
          </button>{{item.name}}<span class="spacer"></span>DB: {{item.quantity}} </mat-list-item>     
    </mat-list>
    </mat-expansion-panel>
  </mat-accordion>