


<mat-toolbar color="primary">
  <button 
  mat-button 
  color= "secondary"
  routerLink= "ists"
  >
    Listák
  </button>
  
  <button 
  mat-button 
  color= "secondary"
  routerLink= "stores">
    Boltok
  </button>
  <button 
  mat-button 
  color= "secondary"
  routerLink= "items">
    Áruk
  </button>
  <span class="spacer"></span>
  <button 
  mat-button 
  color= "secondary"
  routerLink= "user">
    Felhasználó
  </button>

</mat-toolbar>
<router-outlet></router-outlet>