<mat-list-item>
  <mat-expansion-panel hideToggle *ngFor="let list of userList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{list.name}}
      </mat-panel-title>
      <button mat-button
              color= "primary" >Tiltás
      </button>
    </mat-expansion-panel-header>

  </mat-expansion-panel>

</mat-list-item>
