<mat-list-item role="listitem">{{nev}}
    <span class="spacer"></span>
    <button mat-button 
    color= "primary" >Szerkesztés </button>
    <button mat-button 
    color= "primary" >Törlés </button>
</mat-list-item>